<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wlm.wlm">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:name=".base.ProApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RegisterActivity"/>

        <activity android:name=".activity.MainFragmentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.GoodsTypeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PersonalInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RechargeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.OpinionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RecommendActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.BrowseRecordsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.MyCouponActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BuyGoodsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CouponLinkActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SelfGoodsDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ChooseAddressActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.AddAddressActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SelfGoodsTypeActivity" />
        <activity android:name=".activity.MyGrouponActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.OrderListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ShoppingCarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CartOrderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AllOrderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PayResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ModifyPayActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.IntegralActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BindCardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.StrategyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MyQrCodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MyFansActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".wxapi.WXPayEntryActivity"
            android:theme="@android:style/Theme.Translucent"
            android:exported="true"/>
        <activity android:name=".activity.VipActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.IntegralStoreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ManufactureStoreActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.GrouponActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.GoodsDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.CustomerServiceActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.GrouponDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.GrouponGoodsDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CrowdFundingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.GrouponOrderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.GetCashActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MessageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ArticleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MessageDetitleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SearchResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PointActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FlashSaleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.WlmBuyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BeautyHealthActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.HaiWeiLoginActivity"
            android:screenOrientation="portrait"/>


        <activity android:name=".wxapi.WXEntryActivity"
            android:exported="true"/>

        <service android:name="com.trycath.myupdateapklibrary.service.DownloadFileService" />

        <provider
            android:authorities="com.wlm.wlm.fileprovider"
            android:name="com.wlm.wlm.util.MyFileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>